{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Detalle</title>
<link rel="stylesheet" href="{% static '/css/detalle.css' %}" >
{% endblock extrahead%}

{% block content %} 
<h1 class="display-4" id="title">Detalle nota</h1>
<a type="button" class="btn btn-success" href="{% url 'index' %}">Volver</a>

<div class="row">
    
    <div class="col col-sm">
        <table class="table">
            <tbody>
              {%if user.is_staff%}
              <tr>
                <th scope="row">Usuario</th>
                <td>{{ nota.ref_user }}</td>
              </tr>
              {%endif%}
              <tr>
                <th scope="row">Título</th>
                <td>{{ nota.titulo }}</td>
              </tr>
              <tr>
                <th scope="row">Descripción</th>
                <td>{{ nota.descripcion }}</td>
              </tr>
             
              <tr>
                <th scope="row">Fecha Creación</th>
                <td>{{ nota.fecha_creacion }}</td>
              </tr>
            </tbody>
          </table>

    </div>

</div>

{% endblock content%}